.main
  width: 100%
  max-width: 500px
  height: 100vh
  margin: 0 auto
  position: relative

  .welcome-header
    padding: 32px 0

    .header-logo
      margin: 0 auto
      width: 60px
      height: 60px
      background-repeat: no-repeat
      background-position: center
  
  .welcome-body
    width: 200px
    text-align: center
    padding: 0 60px
    

    .quote
      text-align: center
      margin-bottom: 24px
      font-weight: 600
      font-size: 24px

    .welcome-link
      margin: 0 auto
      width: 120px
      height: 120px
      background-repeat: no-repeat
      background-position: center
      display: block

  .welcome-footer
    
    width: 100%
    height: fit-content
    text-align: center
    margin-bottom: 24px

    span
      font-size: 12px

    .eigen-logo
      margin: 6px auto 0
      width: 170px
      height: 20px
      background-repeat: no-repeat
      background-position: top


    



