.main
  width: 100%
  max-width: 600px
  height: 100vh
  margin: 0 auto
  background-color: white
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  justify-content: space-between

  border: 1px solid red

  .welcome-header
    padding-top: 32px
    z-index: 1

    .header-logo
      width: 60px
      height: 60px
      margin: 0 auto
      background-repeat: no-repeat
      background-position: center
  
  .welcome-body
    width: 200px
    text-align: center
    // padding: 0 60px
    z-index: 1

    .quote
      text-align: center
      margin-bottom: 24px
      font-weight: 600
      font-size: 24px

    .welcome-link
      margin: 0 auto
      width: 120px
      height: 120px
      background-repeat: no-repeat
      background-position: center
      display: block

  .welcome-footer
    z-index: 1
    height: fit-content
    text-align: center
    margin-bottom: 32px

    span
      font-size: 8px

    .eigen-logo
      width: 120px
      height: 20px
      background-repeat: no-repeat
      background-position: top


    



